#red {
    color: red;
}
#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
.color-title {
    font-weight: normal;
}
img[src="./assets/images/blue.png"] {
    height: 200;
    width: 200;
}
img {
    height: 200px;
    width: 200px;
}